body{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.pad-zero{
  padding: 0 !important;
}
.margin-zero{
  margin: 0 !important;
}
.bg-color{
background-color: #fff;
}